<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="['/add-arvore/', arvore.id]"></ion-back-button>
    </ion-buttons>
    <ion-title>Ocorrências</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formGroup"  (ngSubmit)="salvar()">
    <ion-item>
      <ion-label position="stacked">Identificação</ion-label>
      <ion-input type="text" class="form-control border-0 shadow-none" formControlName="identificacao" [disabled]=true></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-textarea type="text" class="form-control border-0 shadow-none" formControlName="descricao"></ion-textarea>
    </ion-item>

    <ion-button type="submit" expand="block" class="custom-button" [disabled]="!formGroup.valid">Salvar</ion-button>
  </form>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item-sliding *ngFor="let ocorrencia of ocorrencias">
          <ion-item>
            <ion-label>
              <h2>Data: {{ocorrencia.data | date: 'dd/MM/yyyy'}}</h2>
              <p>{{ocorrencia.descricao}}</p>
            </ion-label>
            <ion-button fill="clear" (click)="excluir(ocorrencia.id)"> <ion-icon name="remove-circle-outline" slot="end"> </ion-icon></ion-button>

          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
