<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Meus Dados</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <form [formGroup]="formGroup">

    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <input type="text" class="form-control" formControlName="nome">
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Email</ion-label>
      <input type="text" class="form-control" formControlName="email" readonly>
    </ion-item>
    <br>
    <ion-button type="submit" expand="block" color="dark" (click)="salvar()" [disabled]="!formGroup.valid">Salvar</ion-button>
    <ion-button type="submit" (click)="recuperarSenha()" expand="block" color="dark" class="custom-button">Recuperar Senha</ion-button>


  </form>
</ion-content>
