/* Estilos atualizados */
ion-button {
  margin-top: 5vh;
  width: 70vw;
  display: block;
  margin: 5vh auto;
  border-radius: 0;
}

img {
  display: block;
  margin: 5vh auto;
  width: 50vw;
}

h1 {
  text-align: center;
  color: var(--custom-green);
  font-weight: bold;
}

input{
  margin: auto auto;
  width: 70vw;
  border: 1px solid black;
}

ion-label{
  margin-left: 10vw;
}

p{
  font-weight: bold;
  color: rgb(44, 44, 44);
  font-size: 16px;
}

