<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="autenticar()">
    <ion-item lines="none">
      <ion-label>
        <h1>Login</h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <input type="text" class="form-control border-0 shadow-none" formControlName="email">
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <input type="password" class="form-control border-0 shadow-none" formControlName="senha">
    </ion-item>

    <ion-button type="submit" expand="block" color="primary" [disabled]="!formGroup.valid">Entrar</ion-button>
  </form>
</ion-content>

